{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="row ">
<div class="container">
  <div class="product-grid">
    {% for product in products %}
    <div class="product-card">
        <div class="book-cover-container">
          <img src="{{ asset ('uploads/images/' ~ product.image) }}" class="book-cover">
        </div>
        <a  style="text-decoration : none; " href="{{path('app_home_product_show', {'id':product.id}) }}"><h2 class="book-title">{{product.name}}</h2></a>
        <p class="book-author">by F. Scott Fitzgerald</p>
        <p class="book-price">${{product.price}}</p>
        {% if product.stock > 0 %} 
        <p class="stock">En Stock</p>
          {% else  %}
          <p class="non-stock">Repture de stock</p>
        {% endif %}
        <button class="cta-button">Ajouter au pannier</button>
      </div>
    {% endfor %} 
  </div>
</div>
  {% endblock %}
